body {
    background-color: black;
    min-width: 450px;
}
input {
    background-color: transparent;
    border: 0;
}
input:focus {
    outline: none;
}
.wd-search-input-container {
    display: flex;
    align-items: center;
    color: white;
    background-color: #212327;
    border-radius: 100px;
    width: 100%;
}
.wd-main-image {
    background-color: #212327;
}
.wd-link-container {
    display: flex;
    justify-content: center;
}
.wd-selected-link-container {
    border-bottom: solid 4px #0b6dfd;
}
.wd-selected-link {
    color: rgb(29,161,242);
}
.wd-suggested-post-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wd-suggested-post-text-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wd-suggested-post-topic-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wd-elipsis-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.wd-suggested-post-author-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.wd-suggested-post-author-icon {
    width: 16px;
}
.wd-suggested-post-img {
    width: 90px;
    height: 90px;
    border-radius: 12px;
}
.nav-link {
    color: #0b6dfd;
}
.nav-link:hover {
    color: white;
}
.nav-tabs {
    border-bottom: rgb(110, 118, 125) 1px solid;
}
.nav-tabs .nav-item .nav-link.active {
    background-color: #212327;
    color: white;
    border: rgb(110, 118, 125) 1px solid;
    border-bottom: #212327 1px solid;
}
.list-group {
    border: rgb(110, 118, 125) 0.5px solid;
}
.list-group-item.override-bs {
    background-color: black;
    color: white;
    border: rgb(110, 118, 125) 0.5px solid;
}
.active.override-bs {
    background-color: #0b6dfd;
    color: white;
}
.list-group-item.override-bs:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.wd-explore-nav-icons {
    color: white;
}
.list-group-item.override-bs:hover .wd-explore-nav-icons {
    color: black;
}
.list-group-item.override-bs:hover .wd-explore-nav-links {
    color: black;
}
.wd-main-explore-image-text {
    bottom: 12px;
    left: 12px;
    color: white;
    font-weight: bold;
    font-size: 28px;
}
.btn.override-bs {
    border-radius: 100px;
    width: 100%;
}
.list-group-item.override-bs.wd-who-to-follow:hover {
    background-color: transparent;
    color: white;
    cursor:auto;
}
.wd-who-to-follow-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.btn.override-bs.wd-follow-button {
    border-radius: 100px;
    width: auto;
}
.col.override-bs.wd-explore-nav-container {
    min-width: 96px;
}
.col.override-bs.wd-main-content {
    min-width: 370px;
}
.col.override-bs.wd-who-to-follow-container {
    min-width: 307px;
}
/* Small adjustment to prevent text wrapping, edge case bootstrap couldnt cover */
@media only screen and (min-width: 990px)  {
    .col.override-bs.wd-main-content {
        min-width: 502px;
    }
}
    