body {
    margin: 12px 16px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.wd-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wd-text-regular {
    font-size: 15px;
}
.wd-text-small {
    font-size: 13px;
}
.wd-text-large {
    font-size: 20px;
}
.wd-text-bold {
    font-weight: 800;
}
.wd-white {
    color: white;
}
.wd-light-grey {
    color: rgb(110, 118, 125);
}
.wd-red {
    color: red;
}
.wd-elipsis-icon {
    width: 24px;
    height: 6px;
}
.wd-section-divider {
    width: 100%;
    margin-bottom: 12px;
    border-bottom: 1px rgb(47,51,54) solid;
}
.wd-tuit-container {
    display: flex;
    margin-bottom: 12px;
}
.wd-tuit-profile-picture {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.wd-tuit-content-container {
    width: 100%;
}
.wd-tuit-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.wd-tuit-text-margins {
    margin-top: 6px;
    margin-bottom: 12px;
    max-width: 506px;
}
.wd-tuit-link-container {
    width: 504px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px rgb(47, 51, 54) solid;
}
.wd-tuit-link-text-container {
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.wd-tuit-img {
    width: 504px;
    height: 264px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.wd-tuit-link-title {
    margin-bottom: 6px;
}
.wd-tuit-link-url-container {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.wd-tuit-link-url-icon {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}
.wd-tuit-reactions-section {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 425px
}
.wd-tuit-reaction-container {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.wd-tuit-reaction-icon {
    width: 18px;
    margin-right: 12px;
}